<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add User</h1>
        <form method="post" class="form-layout">
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="surname" placeholder="Surname" required>
            <button type="submit" class="button">Save</button>
        </form>
        <a href="{{ url_for('index') }}">← Nazaj</a>
    </div>
</body>
</html>
